include _mixins.pug

doctype
html
    head
        title
        meta(charset="utf-8")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet" href="css/fonts.css")
        script(src="js/script.js")
        script(src="js/viewport.js")
    body
        .signature-manager
            header.signature-header
                .signature-header__icon
                .signature-header__title Create Your Signature / Initials
                .signature-header__title--mobile Create Your Signature
                .signature-header__close-icon
            .signature-type
                .signature-type-inner
                    .signature-type__icon
                        +use("type")
                        .signature-type__title Type
                    .signature-type__content
                        .signature-type__description Easy way to create your signature or initials #[span type] your name or #[span select an option] from the bottom to create your signature or initials.
                        .signature-type__form
                            .signature-input John Smith
                            button.signature-button(type="button") Sign
                    .signature-type-example
                        .signature-type-example__name John Smith
            .signature-options
                .signature-options__element.signature-options__element--mobile
                    a.signature-options__link(href="#")
                        +use("type")
                    .signature-options__description
                        .signature-options__title Type
                        .signature-options__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .signature-options__element
                    a.signature-options__link(href="#")
                        +use("draw")
                    .signature-options__description
                        .signature-options__title Draw
                        .signature-options__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .signature-options__element
                    a.signature-options__link(href="#")
                        +use("upload")
                    .signature-options__description
                        .signature-options__title Upload
                        .signature-options__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .signature-options__element
                    a.signature-options__link(href="#")
                        +use("camera")
                    .signature-options__description
                            .signature-options__title Use camera
                            .signature-options__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .signature-options__element
                    a.signature-options__link(href="#")
                        +use("qr-mobile")
                    .signature-options__description
                        .signature-options__title Via qr code
                        .signature-options__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .signature-options__element
                    a.signature-options__link(href="#")
                        +use("sms-mobile")
                    .signature-options__description
                        .signature-options__title Use mobile via sms
                        .signature-options__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .signature-options__element
                    a.signature-options__link(href="#")
                        +use("email-mobile")
                    .signature-options__description
                        .signature-options__title Use mobile via email
                        .signature-options__description Lorem Ipsum is simply dummy text of the printing and typesetting industry.
