@import "variables";
@import "mixins";

.signature-manager {
  box-sizing: border-box;
  padding-bottom: 80px;
  border-radius: 3px;
  background-color: $bg-color;
  box-shadow: 0 2px 13px 0 $gray;
  font-size: 13px;
  font-family: "Arial MT";
  color: $gray;

  @media screen and (max-width: 768px) {
    padding-bottom: 20px;
  }
}

.signature-header {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  background-color: $header-bg-color;
  box-shadow: 0 1px 0 0 #dddddd;
}

.signature-header__title, .signature-header__title--mobile {
  display: flex;
  flex: 1 0 auto;
  font-size: 20px;
  color: $asphalt;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.signature-header__title--mobile {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
    font-size: 18px;
    text-align: center;
  }
}

.signature-header__icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  background: url("../img/gallery-signature.svg");

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.signature-header__close-icon {
  width: 17px;
  height: 17px;
  background: url("../img/close.svg") no-repeat;

  @media screen and (max-width: 768px) {
    color: $light-gray;
  }
}

.signature-type {
  margin: 20px 30px 5px 30px;
  background-color: $white;
  border: solid 1px #cccccc;
  border-radius: 3px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.signature-type-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.signature-type__content {
  margin: 0 20px;
}

.signature-type__title, .signature-options__title {
  margin-top: 6px;
  font-size: 14px;
  font-family: "Arial MT Bold";
  text-align: center;
  text-transform: uppercase;
}

.signature-type__description {
  margin-bottom: 10px;

  span {
    font-family: "Arial MT Bold";
  }
}

.signature-type__form {
  display: flex;
}

.signature-input {
  padding: 10px 8px;
  margin-right: 7px;
  width: 100%;
  border: solid 1px #cccccc;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.signature-button {
  padding: 8px 35px;
  border-radius: 3px;
  background-image:
          linear-gradient(to bottom, #ffbc58, #ff830a);
  border: solid 1px #fd7722;
  font-size: 12px;
  font-family: "Arial MT Bold";
  color: $white;
  text-align: center;
  text-transform: uppercase;
}

.signature-type-example {
  padding: 20px 15px;
  background-color: #fcfcfc;
  border: solid 1px #cccccc;
}

.signature-type-example__name {
  text-align: center;
  font-size: 30px;
  white-space: nowrap;
  font-family: "HanziPenSC W3";
}

.signature-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 25px;
}

.signature-options__element.signature-options__element--mobile {
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
    flex: 1 0 auto;
  }
}

.signature-options__element {
  flex: 1 0 auto;
  margin: 5px;
  padding: 20px;
  border-radius: 3px;
  background-color: $white;
  border: solid 1px #cccccc;
}

svg {
  display: none;
}

.signature-options__icon {
  display: flex;
}

.signature-options__link {
  margin-right: 20px;
  float: left;
}

.signature-options__description {

}

.signature-options__title {
  text-align: left;
}